{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace sg=SGalinski\SgMail\ViewHelpers}

<nav class="pagination-wrap">
	<ul class="pagination pagination-block">
		<f:if condition="{pagination.previousPage} && {pagination.previousPage} >= {pagination.firstPage}">
			<f:then>
				<li class="page-item">
					<a href="{f:uri.action(action: 'index', arguments: {currentPage: 1})}"
					   title="{f:translate(key:'widget.pagination.first')}"
					   class="page-link">
						<core:icon identifier="actions-view-paging-first" />
					</a>
				</li>
				<li class="page-item">
					<a href="{f:uri.action(action: 'index', arguments: {currentPage: pagination.previousPage})}"
					   title="{f:translate(key:'widget.pagination.previous')}"
					   class="page-link">
						<core:icon identifier="actions-view-paging-previous" />
					</a>
				</li>
			</f:then>
			<f:else>
				<li class="page-item disabled">
					<span class="page-link">
						<core:icon identifier="actions-view-paging-first" />
					</span>
				</li>
				<li class="page-item disabled">
					<span class="page-link">
						<core:icon identifier="actions-view-paging-previous" />
					</span>
				</li>
			</f:else>
		</f:if>
		<li class="page-item">
			<span class="page-link">
				<f:translate key="widget.pagination.records" />
				{pagination.startItem} - {pagination.endItem} / {pagination.totalItems}
			</span>
		</li>
		<li class="page-item">
			<span class="page-link">
				<f:translate key="widget.pagination.page" />
				<form id="paginator-form" onsubmit="goToPage(this); return false;" style="display:inline;">
				<script type="text/javascript">
					function goToPage(formObject) {
						var page = formObject.elements['paginator-target-page'].value;
						var url = '{f:uri.action(action: 'index', arguments: {currentPage: 987654321}) -> f:format.raw()}';

						url = url.replace('987654321', page);
						self.location.href = url;
					}
				</script>
				<f:form.textfield id="paginator"
								  name="paginator-target-page"
								  additionalAttributes="{min: '1'}"
								  class="form-control input-sm paginator-input"
								  size="5"
								  value="{pagination.currentPage}"
								  type="number" />
				</form>

				/ {pagination.lastPage}
			</span>
		</li>
		<f:if condition="{pagination.nextPage} && {pagination.nextPage} <= {pagination.lastPage}">
			<f:then>
				<li class="page-item">
					<a class="page-link"
					   href="{f:uri.action(action: 'index', arguments:{currentPage: pagination.nextPage})}"
					   title="{f:translate(key:'widget.pagination.next')}">
						<core:icon identifier="actions-view-paging-next" />
					</a>
				</li>
				<li class="page-item">
					<a class="page-link"
					   href="{f:uri.action(action: 'index', arguments:{currentPage: pagination.lastPage})}"
					   title="{f:translate(key:'widget.pagination.last')}">
						<core:icon identifier="actions-view-paging-last" />
					</a>
				</li>
			</f:then>
			<f:else>
				<li class="page-item disabled">
					<span class="page-link">
						<core:icon identifier="actions-view-paging-next" />
					</span>
				</li>
				<li class="page-item disabled">
					<span class="page-link">
						<core:icon identifier="actions-view-paging-last" />
					</span>
				</li>
			</f:else>
		</f:if>
		<li class="page-item">
			<a class="page-link"
			   href="{f:uri.action(action: 'index', arguments: {currentPage: pagination.currentPage})}"
			   title="{f:translate(key:'widget.pagination.refresh')}">
				<core:icon identifier="actions-refresh" />
			</a>
		</li>
	</ul>
</nav>
