<f:layout name="Empty" />

<f:section name="content">
	<div class="panel panel-default recordlist">
		<div class="panel-heading">
			<f:translate key="backend.no_site_root" />
		</div>
		<div class="panel-body">
			<div class="table-fit">
				<table data-table="pages" class="table table-striped table-hover">
					<tbody>
					<f:for each="{sites}" as="site">
						<tr data-uid="{site.pid}">
							<td nowrap="nowrap" class="col-title">
								<f:link.action action="{action}" controller="{controller}" additionalParams="{id: site.uid, returnUrl: returnUrl}">
									<core:iconForRecord row="{site}" table="pages" />
									{site._thePathFull}
								</f:link.action>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</f:section>
