{namespace sg=SGalinski\SgMail\ViewHelpers}
{namespace be=TYPO3\CMS\Backend\ViewHelpers}
<f:layout name="Default" />

<f:section name="iconButtons">
	<be:link.newRecord table="tx_sgmail_domain_model_layout"
					   pid="{pageUid}"
					   class="btn btn-default btn-sm"
					   title="{f:translate(key: 'backend.button_create_layout')}">
		<core:icon identifier="actions-document-new" />
	</be:link.newRecord>
	<f:if condition="{pasteButton}">
		<a href="{pasteButton.url}" class="btn btn-sm btn-default t3js-modal-trigger" data-severity="warning"
		   data-content="{pasteButton.message}"
		   data-title="{f:translate(key: 'backend.button_paste_layout')}"
		   title="{f:translate(key: 'backend.button_paste_layout')}">
			<core:icon identifier="actions-document-paste-into" />
		</a>
	</f:if>
</f:section>

<f:section name="content">
	<f:flashMessages />
	<h1><f:translate key="backend.layouts" /></h1>
	<f:if condition="{layouts -> f:count()} > 0">
		<f:then>
			<div class="panel panel-default recordlist">
				<div class="table-fit">
					<table data-table="tx_sgmail_domain_model_layout" class="table table-striped table-hover">
						<tbody>
							<f:for each="{layouts}" as="layout">
								<tr data-uid="{layout.uid}"
									class="{f:if(condition: '{layout.default}', then: 'success', else: '')}">
									<td nowrap="nowrap" class="col-icon">
										<core:iconForRecord row="{layout}" table="tx_sgmail_domain_model_layout" />
									</td>
									<td nowrap="nowrap">
										<be:link.editRecord uid="{layout.uid}" table="tx_sgmail_domain_model_layout">
											<span>
												{layout.name}
											</span>
										</be:link.editRecord>
									</td>
									<td nowrap="nowrap" class="col-control">
										<f:format.raw><sg:backend.control table="tx_sgmail_domain_model_layout" row="{layout}" clipboard="1" /></f:format.raw>
									</td>
								</tr>
							</f:for>
						</tbody>
					</table>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:render partial="Layout/Empty" />
		</f:else>
	</f:if>
</f:section>
