{namespace sgm=SGalinski\SgMail\ViewHelpers}
<f:form action="index" controller="Queue" method="post" objectName="filters" object="{filters}">
	<div class="row">
		<div class="col-xs-12 col-12 col-md-4">
			<div class="form-group">
				<label for="filter-search"><f:translate key="backend.filter.search" /></label>
				<f:form.textfield class="reset-me form-control" property="filterSearch" id="filter-search" />
			</div>
			<div class="form-group">
				<label for="filterTemplate"><f:translate key="backend.filter.template" /></label>
				<f:form.select class="form-control" property="filterTemplate" id="filterTemplate">
					<f:for each="{templatesFilter}" as="extension" key="extensionKey">
						<f:if condition="{extensionKey}">
							<f:then>
								<sgm:be.menus.actionMenuOptionGroup label="{extensionKey}">
									<f:for each="{extension}" as="template">
										<option value="{extensionKey}###{template.name}"{f:if(condition:'{selectedTemplateFilter} == {template.name} && {selectedExtensionFilter} == {extensionKey}',then:' selected="selected"')}>
										{f:if(condition: '{template.is_manual}', then:'* ')}{template.name}
										</option>
									</f:for>
								</sgm:be.menus.actionMenuOptionGroup>
							</f:then>
							<f:else>
								<option></option>
							</f:else>
						</f:if>
					</f:for>
				</f:form.select>
			</div>

			<div class="form-group">
				<label for="filter-languages"><f:translate key="backend.filter.language" /></label>
				<f:form.select class="form-control"
							   multiple="0"
							   size="1"
							   property="filterLanguage"
							   prependOptionLabel="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_general.xlf:LGL.allLanguages')}"
							   optionValueField="languageId"
							   optionLabelField="title"
							   options="{languages}"
							   id="filter-languages" />
			</div>
		</div>
		<div class="col-xs-12 col-12 col-md-4">
			<div class="form-group">
				<label for="filter-fields">
					<f:translate key="backend.filters.fields" />
					<f:translate key="backend.filter.fields.description" />
				</label>
				<f:form.select class="form-control"
							   multiple="1"
							   size="9"
							   property="filterFields"
							   optionValueField="value"
							   options="{filterFields}"
							   id="filter-fields" />
			</div>
		</div>
		<div class="col-xs-12 col-12 col-md-4">

			<div class="form-group" style="width: 100%; display: block;">
				<label for="filter-to-date">
					<f:translate key="backend.filter.date_from" />
				</label>
				<div class="input-group form-control-clearable">
					<f:form.textfield property="filterFromDate"
									  id="filter-from-date"
									  data="{date-type: 'datetime'}"
									  class="reset-me form-control t3js-datetimepicker t3js-clearable hasDefaultValue" />
					<button type="button" class="btn btn-outline-secondary close" tabindex="-1" aria-hidden="true" style="display: none;">
						<span class="fa fa-times"></span>
					</button>
					<label class="btn btn-outline-secondary btn-default mb-0" for="filter-from-date">
						<core:icon identifier="actions-calendar"/>
					</label>
				</div>
			</div>
			<div class="form-group" style="width: 100%; display: block;">
				<label for="filter-to-date">
					<f:translate key="backend.filter.date_to" />
				</label>
				<div class="input-group form-control-clearable">
					<f:form.textfield property="filterToDate"
									  id="filter-to-date"
									  data="{date-type: 'datetime'}"
									  class="reset-me form-control t3js-datetimepicker t3js-clearable hasDefaultValue" />
					<button type="button" class="btn btn-outline-secondary close" tabindex="-1" aria-hidden="true" style="display: none;">
						<span class="fa fa-times"></span>
					</button>
					<label class="btn btn-outline-secondary btn-default mb-0" for="filter-to-date">
						<core:icon identifier="actions-calendar"/>
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="radio-inline">
					<f:form.radio property="filterSent"
								  id="filters-all"
								  value="0"
								  checked="{f:if(condition: '{filters.filterSent} == \'0\'', then: '1')}" />
					<f:translate key="backend.all" />
				</label>
				<label class="radio-inline">
					<f:form.radio property="filterSent"
								  id="filters-sent"
								  value="1"
								  checked="{f:if(condition: '{filters.filterSent} == \'1\'', then: '1')}" />
					<f:translate key="backend.sent" />
				</label>
				<label class="radio-inline">
					<f:form.radio property="filterSent"
								  id="filters-notsent"
								  value="2"
								  checked="{f:if(condition: '{filters.filterSent} == \'2\'', then: '1')}" />
					<f:translate key="backend.not_sent" />
				</label>
			</div>
			<div class="form-group">
				<f:form.checkbox property="filterBlacklist"
								 id="filters-blacklisted"
								 value="1"
								 checked="{f:if(condition: '{filters.filterBlacklist} == \'1\'', then: '1')}" />
				<f:translate key="backend.blacklisted" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<f:form.button class="filter-btn btn btn-success form-group col-xs-12 col-12 col-md-12"
							   type="submit">
					<f:translate key="backend.filter.filter" />
				</f:form.button>
				<f:form.button class="filter-btn btn btn-info form-group col-xs-12 col-12 col-md-12"
							   type="submit"
							   name="action"
							   value="export">
					<f:translate key="backend.button_download_csv" />
				</f:form.button>
				<f:form.button id="filter-reset-btn"
							   class="filter-btn btn btn-danger form-group col-xs-12 col-12 col-md-12"
							   type="reset">
					<f:translate key="backend.button_reset_filter" />
				</f:form.button>
			</div>
		</div>
	</div>
</f:form>
