{namespace sgm=SGalinski\SgMail\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default" />

<f:section name="iconButtons">
	<f:link.action class="btn btn-default btn-sm"
				   controller="Configuration"
				   action="index"
				   arguments="{mode: 'new', selectedTemplate: selectedTemplateKey, selectedExtension: selectedTemplate.extension}">
		<core:icon identifier="actions-document-new" />
	</f:link.action>
	<f:if condition="{isManual}">
		<f:link.action class="btn btn-default btn-sm"
					   controller="Configuration"
					   action="index"
					   arguments="{mode: 'edit', selectedTemplate: selectedTemplateKey, selectedExtension: selectedTemplate.extension}">
			<core:icon identifier="actions-document-open" />
		</f:link.action>
		<f:link.action class="btn btn-default btn-sm"
					   id="delete-template-btn"
					   controller="Configuration"
					   action="delete"
					   arguments="{selectedTemplate: selectedTemplateKey, selectedExtension: selectedTemplate.extension}">
			<core:icon identifier="actions-edit-delete" />
		</f:link.action>
	</f:if>
</f:section>

<f:section name="content">
	<f:flashMessages />
	<f:if condition="{selectedTemplate}">
		<f:then>
			<div class="row">
				<div class="editor-description col-md-6">
					<p>{templateDescription}</p>
				</div>
				<div class="col-md-3 col-md-offset-3">
					<f:link.action class="reset-btn reset-all-btn btn-danger btn col-md-12"
								   action="reset"
								   arguments="{template: selectedTemplateKey, extensionKey: selectedTemplate.extension}">
						{f:translate(key:'backend.button_reset_all')}
					</f:link.action>
				</div>
				<div style="clear:both;">&nbsp;</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<f:if condition="{deprecationWarnings}">
							<div class="panel panel-danger">
								<div class="panel-heading">
									<f:translate key="backend.deprecationInfo" /> <br/>
									<a style="text-decoration: underline;" href="#" data-toggle="collapse" data-target="#deprecationPanel">
										<f:translate key="backend.showDeprecation" />
									</a>
								</div>
								<div  id="deprecationPanel" class="collapse">
									<div class="panel-body">
										<f:for each="{deprecationWarnings}" as="warning">
											<small>{warning.code}</small>
											<br>
										</f:for>
									</div>
								</div>
							</div>
						</f:if>
						<div class="accordion">
						<div class="panel panel-default accordion-item">
							<div class="panel-heading accordion-header" role="tab">
								<h4 class="panel-title">
									<a class="accordion-header-toggle collapsed"
										role="button"
										data-toggle="collapse"
										data-bs-toggle="collapse"
										data-parent="#accordion"
										data-bs-parent="#accordion"
										href="#markers-container"
										aria-expanded="true"
										aria-controls="markers-container">
										<f:translate key="backend.marker.usage_information_header" />
										<i class="fa fa-caret-up"></i>
										<i class="fa fa-caret-down"></i>
									</a>
								  </h4>
							</div>
							<div class="collapse accordion-collapse collapse" id="markers-container">
								<div class="panel-body accordion-body">
										<p>
											<f:translate key="bachend.markerUsage" />
										</p>
									</div>
									<div class="panel-body">
										<table class="table table-hover">
											<thead>
												<tr>
													<th><f:translate key="backend.marker" /></th>
													<th><f:translate key="backend.type" /></th>
													<th><f:translate key="backend.value" /></th>
													<th><f:translate key="backend.description" /></th>
												</tr>
											</thead>

											<tr>
												<td>all_fields</td>
												<td><f:translate key="backend.marker.type.string" /></td>
												<td>-</td>
												<td>
													<f:translate key="backend.marker.allFields">
														{backend.marker.allFields}
													</f:translate>
												</td>
											</tr>
											<f:for each="{selectedTemplate.marker}" as="marker">
												<tr>
													<td>{marker.marker}</td>
													<td>
														<f:if condition="{marker.type}">
															<f:then>
																<f:translate key="{marker.type}">{marker.type}</f:translate>
															</f:then>
															<f:else>
																<f:translate key="backend.marker.type.string" />
															</f:else>
														</f:if>
													</td>
													<td>
														<f:if condition="{sgm:isArray(value: '{marker.value}')}">
															<f:then>
																<f:for each="{marker.value}" as="value" key="key">
																	{key}: {value}
																	<br>
																</f:for>
															</f:then>
															<f:else>
																<f:if condition="{marker.value} && {marker.value} != {marker.marker}">
																	<f:translate key="{marker.value}">
																		{marker.value}
																	</f:translate>
																</f:if>
															</f:else>
														</f:if>
													</td>
													<td>
														<f:if condition="{marker.description} && {marker.description} != {marker.marker}">
															<f:translate key="{marker.description}">
																{marker.description}
															</f:translate>
														</f:if>
														<f:if condition="{marker.type} === 'Date'">
															<f:translate key="backend.marker.type.date.usage" arguments="{0: '{marker.marker}'}" />
														</f:if>
													</td>
												</tr>
											</f:for>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 form-group">
					<f:form method="post" controller="Mail" action="sendTestMail">
						<f:render section="formActions" arguments="{_all}" />

						<f:for each="{templates}" as="template" key="key" iteration="iterator">
							<f:variable name="languageId">{template.siteLanguage.languageId}</f:variable>
							<f:if condition="{iterator.isFirst}">
								<div class="row">
							</f:if>
							<f:if condition="{iterator.cycle} % 4">
								<f:else>
									</div><div class="row">
								</f:else>
							</f:if>
							<div class="template-col col-md-{colspace}">
								<div class="panel panel-default">
									<div class="panel-body">
										<f:form.hidden name="parameters[templates][{languageId}][uid]" value="{template.uid}" />
										<f:form.hidden name="parameters[templates][{languageId}][pid]" value="{template.pid}" />
										<f:form.hidden name="parameters[templates][{languageId}][sys_language_uid]" value="{languageId}" />
										<f:form.hidden name="parameters[templates][{languageId}][extensionKey]" value="{template.extensionKey}" />
										<f:form.hidden name="parameters[templates][{languageId}][templateName]" value="{template.templateName}" />
										<h3>
											{template.siteLanguage.title}
											<f:if condition="{template.isOverwritten}">
												<f:translate key="backend.is_overwritten" />
											</f:if>
										</h3>
										<div class="col-md-12">
											<div class="row form-group">
												<label for="parameters-templates-{languageId}-layout">
													{f:translate(key:'backend.layout')}
												</label>
												<f:form.select id="parameters-templates-{languageId}-layout"
															   class="form-control"
															   value="{template.layout}"
															   options="{layoutOptions}"
															   name="parameters[templates][{languageId}][layout]" />
											</div>
											<div class="row form-group">
												<label for="parameters-templates-{languageId}-fromName">
													{f:translate(key:'backend.fromName')}
												</label>
												<f:form.textfield id="parameters-templates-{languageId}-fromName"
																  class="form-control"
																  value="{template.fromName}"
																  name="parameters[templates][{languageId}][fromName]" />
											</div>
											<div class="row form-group">
												<label for="parameters-templates-{languageId}-fromMail">
													{f:translate(key:'backend.fromMail')}
												</label>
												<f:form.textfield id="parameters-templates-{languageId}-fromMail"
																  class="form-control"
																  value="{template.fromMail}"
																  name="parameters[templates][{languageId}][fromMail]" />
											</div>
											<div class="row form-group">
												<label for="parameters-templates-{languageId}-toAddress">
													{f:translate(key:'backend.to_form')}
												</label>
												<f:form.textfield id="parameters-templates-{languageId}-toAddress"
																  class="form-control"
																  value="{template.toAddress}"
																  name="parameters[templates][{languageId}][toAddress]" />
											</div>
											<div class="row form-group">
												<label for="parameters-templates-{languageId}-cc">
													{f:translate(key:'backend.cc')}
												</label>
												<f:form.textfield id="parameters-templates-{languageId}-cc"
																  class="form-control"
																  value="{template.cc}"
																  name="parameters[templates][{languageId}][cc]" />
											</div>
											<div class="row form-group">
												<label for="parameters-templates-{languageId}-bcc">
													{f:translate(key:'backend.bcc')}
												</label>
												<f:form.textfield id="parameters-templates-{languageId}-bcc"
																  class="form-control"
																  value="{template.bcc}"
																  name="parameters[templates][{languageId}][bcc]" />
											</div>
											<div class="row form-group">
												<label for="parameters-templates-{languageId}-replyTo">
													{f:translate(key:'backend.replyTo')}
												</label>
												<f:form.textfield id="parameters-templates-{languageId}-replyTo"
																  class="form-control"
																  value="{template.replyTo}"
																  name="parameters[templates][{languageId}][replyTo]" />
											</div>
											<div class="row form-group">
												<label for="parameters-templates-{languageId}-subject">
													{f:translate(key:'backend.subject')}
												</label>
												<f:form.textfield id="parameters-templates-{languageId}-subject"
																  class="form-control"
																  value="{template.subject}"
																  name="parameters[templates][{languageId}][subject]" />
											</div>
											<div class="row form-group">
												<label for="parameters-templates-{languageId}-content">
													{f:translate(key:'backend.content')}
												</label>
												<f:form.textarea id="parameters-templates-{languageId}-content"
																 class="form-control"
																 rows="15"
																 name="parameters[templates][{languageId}][content]"
																 value="{template.content}" />
											</div>
											<div class="row form-group">
												<label for="parameters-templates-{languageId}-default-attachments">
													{f:translate(key:'backend.defaultAttachments')}
												</label>
												<f:form.textarea id="parameters-templates-{languageId}-default-attachments"
																 class="form-control"
																 rows="5"
																 name="parameters[templates][{languageId}][defaultAttachments]"
																 value="{template.defaultAttachments}" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<f:if condition="{iterator.isLast}">
								</div>
							</f:if>
						</f:for>
						<f:render section="formActions" arguments="{_all}" />
					</f:form>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:render partial="Mail/Empty" />
		</f:else>
	</f:if>
</f:section>

<f:section name="formActions">
	<div class="row">
		<div class="col-md-12 form-group form-actions">
			<f:form.submit name="saveOnly"
						   class="btn-success btn form-group"
						   value="{f:translate(key:'backend.save_template')}" />
			<f:form.submit class="btn-primary btn form-group"
						   value="{f:translate(key:'backend.send_test')}" />
			<f:form.textfield name="parameters[emailAddress]"
							  class="email-input form-group"
							  value="{beUserMail}" />
			<f:form.hidden name="parameters[selectedTemplate]"
						   value="{selectedTemplateKey}" />
			<f:form.hidden name="parameters[selectedExtensionKey]"
						   value="{selectedTemplate.extension}" />
			<f:form.hidden name="parameters[selectedExtension]"
						   value="{selectedTemplate.extension}" />
			<f:form.hidden name="parameters[selectedTemplateKey]"
						   value="{selectedTemplateKey}" />
		</div>
	</div>
</f:section>
