{namespace sgm=SGalinski\SgMail\ViewHelpers}

<f:if condition="{V11}">
	<f:then>
		<f:render section="content" />
	</f:then>
	<f:else>
		<f:be.container>
			<div id="typo3-docbody">
				<div id="typo3-inner-docbody">
					<f:render section="content" />
				</div>
			</div>
		</f:be.container>
	</f:else>
</f:if>
