{namespace sgm=SGalinski\SgMail\ViewHelpers}

<f:be.container includeCssFiles="{
		0: '{f:uri.resource(path: \'StyleSheets/backend.css\')}',
		1: '{f:uri.resource(path: \'Contrib/select2/css/select2.css\')}',
		2: '{f:uri.resource(path: \'Contrib/select2-to-tree/select2totree.css\')}'
	}"
	includeRequireJsModules="{
		0: 'TYPO3/CMS/Backend/AjaxDataHandler',
		1: 'TYPO3/CMS/Backend/ContextMenu',
		2: 'TYPO3/CMS/Backend/Tooltip',
		3: 'TYPO3/CMS/SgMail/Backend',
		4:  '{f:uri.resource(path: \'Contrib/select2/js/select2.full.js\')}',
		5:  '{f:uri.resource(path: \'Contrib/select2-to-tree/select2totree.js\')}',
		6: 'TYPO3/CMS/SgMail/Newsletter'
	}"
	addJsInlineLabels="{
		0: 'backend.delete_template',
		1: 'backend.delete_template_custom',
		2: 'backend.send_mail_manually',
		3: 'backend.send_mail_again',
		4: 'backend.newsletter.confirm_send'
	}">
	<div class="module" data-module-id="" data-module-name="">
		<div class="module-docheader t3js-module-docheader">
			<f:render
				partial="Module/DocHeader"
				section="main"
				arguments="{docHeader: docHeader, pages: pages, selectedTemplateKey: selectedTemplateKey, selectedExtensionKey: selectedExtensionKey}" />
			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					<f:if condition="{register}">
						<f:be.menus.actionMenu>
							<f:for each="{register}" as="template" key="extensionKey">
								<f:comment><!--
								Do not use f:be.menus.actionMenuItemGroup here,
								because it does not work with f:for as child!
								--></f:comment>
								<optgroup label="{extensionKey}">
									<f:for each="{template}" as="currentTemplate" key="templateKey">
										<f:render
											partial="Module/DocHeader"
											section="actionMenuItem"
											arguments="{
												controller: '{controller}',
												action: 'index',
												selected: '{f:if(condition:\'{selectedExtensionKey}=={extensionKey} && {selectedTemplateKey}=={templateKey}\', then:\'1\',else:\'0\')}',
												selectedTemplateKey: templateKey,
												selectedExtensionKey: extensionKey,
												label: '{f:if(condition: \'{currentTemplate.isManual}\', then:\'* \')}{currentTemplate.templateName}'
											}" />
									</f:for>
								</optgroup>
							</f:for>
						</f:be.menus.actionMenu>
					</f:if>
				</div>
				<div class="language-selector">
					<f:be.menus.actionMenu>
						<f:for each="{languages}" as="language">
							<f:comment><!--
							Do not use f:be.menus.actionMenuItemGroup here,
							because it does not work with f:for as child!
							--></f:comment>
							<f:render
								partial="Module/DocHeader"
								section="actionMenuItem"
								arguments="{
									controller: 'Newsletter',
									action: 'index',
									selected: '{f:if(condition:\'{selectedLanguage}=={language.languageId}\', then:\'1\',else:\'0\')}',
									selectedTemplateKey: selectedTemplateKey,
									selectedExtensionKey: selectedExtensionKey,
									selectedLanguage: language.languageId,
									label: language.title
								}" />
						</f:for>
					</f:be.menus.actionMenu>
				</div>
				<f:render section="iconButtons" />
				<div class="module-docheader-bar-column-right">
					<f:render partial="ButtonBar" arguments="{buttons:docHeader.buttons.right}" />
				</div>
			</div>
		</div>
		<f:if condition="{V11}">
			<f:then>
				<div class="module-body t3js-module-body">
			</f:then>
			<f:else>
				<div id="typo3-docbody">
			</f:else>
		</f:if>
			<div id="typo3-inner-docbody">
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
