{namespace sgm=SGalinski\SgMail\ViewHelpers}
<head>
	<link rel="stylesheet" href="{f:uri.resource(path: 'StyleSheets/preview.css')}">
</head>
<body>
<f:render section="mailPreview"></f:render>
</body>
