{namespace sgm=SGalinski\SgMail\ViewHelpers}

<f:be.container includeCssFiles="{0: '{f:uri.resource(path: \'StyleSheets/backend.css\')}'}"
				includeRequireJsModules="{
			0: 'TYPO3/CMS/Backend/AjaxDataHandler',
			1: 'TYPO3/CMS/Backend/ContextMenu',
			2: 'TYPO3/CMS/Backend/Tooltip',
			3: 'TYPO3/CMS/Backend/DateTimePicker',
			4: 'TYPO3/CMS/SgMail/Backend'
		}"
						addJsInlineLabels="{
			0: 'backend.delete_template',
			1: 'backend.send_mail_manually',
			2: 'backend.send_mail_again'
		}">
	<div class="module" data-module-id="" data-module-name="">
		<div class="module-docheader t3js-module-docheader">
			<f:render
				partial="Module/DocHeader"
				section="main"
				arguments="{pages: pages, selectedTemplateKey: selectedTemplateKey, selectedExtensionKey: selectedExtensionKey}"/>
		</div>

		<f:if condition="{V11}">
			<f:then>
				<div class="module-body t3js-module-body">
			</f:then>
			<f:else>
				<div id="typo3-docbody">
			</f:else>
		</f:if>
			<div id="typo3-inner-docbody">
				<f:render section="content"/>
			</div>
		</div>
	</div>
</f:be.container>

