{namespace sgm=SGalinski\SgMail\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Newsletter" />
<f:section name="content">
	<script type="text/javascript">
	    var selectedGroupsData = <f:format.htmlentitiesDecode>{selectedGroupsTree}</f:format.htmlentitiesDecode>;
	</script>
	<sgm:inlineLanguageLabels extensionName="SgMail" labelKeys="backend.newsletter.confirm_send"></sgm:inlineLanguageLabels>
	<f:flashMessages />
	<f:if condition="{selectedTemplate}">
		<f:then>
			<div class="row form-group col-md-12 ">
				<div class="editor-description col-md-6">
					<p>{templateDescription}</p>
				</div>
			</div>
			<div class="col-md-12 row">
				<div class="form-group">
					<f:if condition="{deprecationWarnings}">
						<div class="panel panel-danger">
							<div class="panel-heading">
								<f:translate key="backend.deprecationInfo" /> <br/>
								<a style="text-decoration: underline;"
								   href="#"
								   data-toggle="collapse"
								   data-target="#deprecationPanel">
									<f:translate key="backend.showDeprecation" />
								</a>
							</div>
							<div  id="deprecationPanel" class="collapse">
								<div class="panel-body">
									<f:for each="{deprecationWarnings}" as="warning">
										<small>{warning.code}</small>
										<br>
									</f:for>
								</div>
							</div>
						</div>
					</f:if>
					<div class="accordion">
						<div class="panel panel-default accordion-item">
							<div class="panel-heading accordion-header" role="tab">
								<h4 class="panel-title">
									<a class="accordion-header-toggle collapsed"
									   role="button"
									   data-toggle="collapse"
									   data-bs-toggle="collapse"
									   data-parent="#accordion"
									   data-bs-parent="#accordion"
									   href="#markers-container"
									   aria-expanded="true"
									   aria-controls="markers-container">
										<f:translate key="backend.marker.usage_information_header" />
										<i class="fa fa-caret-up"></i>
										<i class="fa fa-caret-down"></i>
									</a>
								  </h4>
							</div>
							<div class="collapse accordion-collapse collapse" id="markers-container">
								<div class="panel-body accordion-body">
									<p>
										<f:translate key="bachend.markerUsage" /><br />
										<strong><f:translate key="backend.markerUsageNewsletter" /></strong>
									</p>
								</div>
								<div class="panel-body">
									<table class="table table-hover">
										<thead>
											<tr>
												<th><f:translate key="backend.marker" /></th>
												<th><f:translate key="backend.type" /></th>
												<th><f:translate key="backend.value" /></th>
												<th><f:translate key="backend.description" /></th>
											</tr>
										</thead>
										<tr>
											<td>user.username</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												username@example.com
											</td>
											<td>
												<f:translate key="backend.marker.description.user.username"/>
											</td>
										</tr>
										<tr>
											<td>user.name</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												Max Mustermann
											</td>
											<td>
												<f:translate key="backend.marker.description.user.name"/>
											</td>
										</tr>
										<tr>
											<td>user.title</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												Dr.
											</td>
											<td>
												<f:translate key="backend.marker.description.user.title"/>
											</td>
										</tr>
										<tr>
											<td>user.first_name</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												Max
											</td>
											<td>
												<f:translate key="backend.marker.description.user.first_name"/>
											</td>
										</tr>
										<tr>
											<td>user.last_name</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												Mustermann
											</td>
											<td>
												<f:translate key="backend.marker.description.user.last_name"/>
											</td>
										</tr>
										<tr>
											<td>user.address</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												Berlin, Germany
											</td>
											<td>
												<f:translate key="backend.marker.description.user.address"/>
											</td>
										</tr>
										<tr>
											<td>user.zip</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												89073
											</td>
											<td>
												<f:translate key="backend.marker.description.user.zip"/>
											</td>
										</tr>
										<tr>
											<td>user.city</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												Ulm
											</td>
											<td>
												<f:translate key="backend.marker.description.user.city"/>
											</td>
										</tr>
										<tr>
											<td>user.country</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												Germany
											</td>
											<td>
												<f:translate key="backend.marker.description.user.country"/>
											</td>
										</tr>
										<tr>
											<td>user.telephone</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												491535555555
											</td>
											<td>
												<f:translate key="backend.marker.description.user.telephone"/>
											</td>
										</tr>
										<tr>
											<td>user.email</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												max.mustermann@example.com
											</td>
											<td>
												<f:translate key="backend.marker.description.user.email"/>
											</td>
										</tr>
										<tr>
											<td>user.company</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												Muster GmbH
											</td>
											<td>
												<f:translate key="backend.marker.description.user.company"/>
											</td>
										</tr>
										<tr>
											<td>user.www</td>
											<td>
												<f:translate key="backend.marker.type.string" />
											</td>
											<td>
												www.example.com
											</td>
											<td>
												<f:translate key="backend.marker.description.user.www"/>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row col-md-12 form-group">
				<f:form method="post" id="sgMail-newsletter-form" controller="Newsletter" action="sendTestMail">
					<div class="col-md-12">
						<div class="row form-group">
							<label for="parameters-selectedGroups">{f:translate(key:'backend.groups')}</label>
							<f:form.select id="parameters-selectedGroups"
										   class="form-control"
										   name="parameters[selectedGroups]"
										   multiple="multiple"/>
						</div>
					</div>
					<f:for each="{templates}" as="template" key="languageId">
						<div class="template-col col-md-{colspace}">
							<div class="panel panel-default row">
								<div class="panel-body">
									<h3>
										{template.siteLanguage.title}
										<f:if condition="{template.isOverwritten}">
											<f:translate key="backend.is_overwritten" />
										</f:if>
									</h3>
									<div class="col-md-12">
										<div class="row form-group">
											<label for="parameters-templates-{languageId}-layout">
												<f:translate key="backend.layout" />
											</label>
											<f:form.select id="parameters-templates-{languageId}-layout"
														   class="form-control"
														   value="{template.layout}"
														   options="{layoutOptions}"
														   name="parameters[templates][{languageId}][layout]"/>
										</div>
										<div class="row form-group">
											<label for="parameters-templates-{languageId}-fromName">
												<f:translate key="backend.fromName" />
											</label>
											<f:form.textfield id="parameters-templates-{languageId}-fromName"
															  class="form-control"
															  value="{template.fromName}"
															  name="parameters[templates][{languageId}][fromName]" />
										</div>
										<div class="row form-group">
											<label for="parameters-templates-{languageId}-fromMail">
												<f:translate key="backend.fromMail" />
											</label>
											<f:form.textfield id="parameters-templates-{languageId}-fromMail"
															  type="email"
															  class="form-control"
															  value="{template.fromMail}"
															  name="parameters[templates][{languageId}][fromMail]" />
										</div>
										<div class="row form-group">
											<label for="parameters-templates-{languageId}-cc">
												<f:translate key="backend.cc" />
											</label>
											<f:form.textfield id="parameters-templates-{languageId}-cc"
															  class="form-control"
															  value="{template.cc}"
															  name="parameters[templates][{languageId}][cc]" />
										</div>
										<div class="row form-group">
											<label for="parameters-templates-{languageId}-bcc">
												<f:translate key="backend.bcc" />
											</label>
											<f:form.textfield id="parameters-templates-{languageId}-bcc"
															  class="form-control"
															  value="{template.bcc}"
															  name="parameters[templates][{languageId}][bcc]" />
										</div>
										<div class="row form-group">
											<label for="parameters-templates-{languageId}-replyTo">
												<f:translate key="backend.replyTo" />
											</label>
											<f:form.textfield id="parameters-templates-{languageId}-replyTo"
															  class="form-control"
															  value="{template.replyTo}"
															  name="parameters[templates][{languageId}][replyTo]" />
										</div>
										<div class="row form-group">
											<label for="parameters-templates-{languageId}-subject">
												<f:translate key="backend.subject" />
											</label>
											<f:form.textfield id="parameters-templates-{languageId}-subject"
															  class="form-control"
															  value="{template.subject}"
															  name="parameters[templates][{languageId}][subject]" />
										</div>
										<div class="row form-group">
											<label for="parameters-templates-{languageId}-content">
												<f:translate key="backend.content" />
											</label>
											<f:form.textarea id="parameters-templates-{languageId}-content"
															 class="form-control"
															 rows="15"
															 name="parameters[templates][{languageId}][content]"
															 value="{template.content}" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</f:for>
					<div class="form-group">
						<button name="tx_sgmail_web_sgmailmail[parameters][sendRealEmails]" id="newsletter-send-real-emails-button" class="btn-success btn form-group" value="1">{f:translate(key:'backend.send_newsletter')}</button>
						<button name="tx_sgmail_web_sgmailmail[parameters][sendRealEmails]" id="newsletter-send-preview-emails-button" class="btn-primary btn form-group" value="0">{f:translate(key:'backend.send_test_newsletter')}</button>
						<f:form.textfield name="parameters[emailAddress]" class="email-input form-group" value="{beUserMail}" />

						<f:form.hidden name="parameters[selectedLanguage]" value="{selectedLanguage}" />
						<f:form.hidden name="parameters[selectedTemplate]" value="{selectedTemplateKey}" />
						<f:form.hidden name="parameters[selectedExtensionKey]" value="{selectedTemplate.extension}" />
						<f:form.hidden name="parameters[selectedExtension]" value="{selectedTemplate.extension}" />
						<f:form.hidden name="parameters[selectedTemplateKey]" value="{selectedTemplateKey}" />
					</div>
				</f:form>
			</div>
		</f:then>
		<f:else>
			<f:render partial="Mail/Empty" />
		</f:else>
	</f:if>
</f:section>

<f:section name="iconButtons">
	<f:link.action class="btn btn-default btn-sm"
				   controller="Configuration"
				   action="index"
				   arguments="{mode: 'new', selectedTemplate: selectedTemplateKey, selectedExtension: selectedTemplate.extension}">
		<core:icon identifier="actions-document-new" />
	</f:link.action>
	<f:if condition="{isManual}">
		<f:link.action class="btn btn-default btn-sm"
					   controller="Configuration"
					   action="index"
					   arguments="{mode: 'edit', selectedTemplate: selectedTemplateKey, selectedExtension: selectedTemplate.extension}">
			<core:icon identifier="actions-document-open" />
		</f:link.action>
		<f:link.action class="btn btn-default btn-sm"
					   id="delete-template-btn"
					   controller="Configuration"
					   action="delete"
					   arguments="{selectedTemplate: selectedTemplateKey, selectedExtension: selectedTemplate.extension}">
			<core:icon identifier="actions-edit-delete" />
		</f:link.action>
	</f:if>
</f:section>
