{namespace sgm=SGalinski\SgMail\ViewHelpers}

<f:layout name="Queue"/>

<f:section name="iconButtons">
</f:section>

<f:section name="content">
	<f:flashMessages/>
	<f:render partial="Queue/Filter"
			  arguments="{filterFields: filterFields, filters: filters, languages: languages, templatesFilter: templatesFilter, selectedTemplateFilter: selectedTemplateFilter, selectedExtensionFilter: selectedExtensionFilter}"/>
	<f:if condition="{pagination.totalItems} > 0">
		<f:then>
			<div class="panel panel-default recordlist">
				<div class="table-fit">
					<table data-table="tx_sgmail_domain_model_mail" class="table table-striped table-hover">
						<thead>
							<tr class="bg-light">
								<td colspan="3">
									<f:render partial="Queue/Pagination" arguments="{pagination: pagination}"/>
								</td>
							</tr>
						</thead>
						<f:render section="innerTable" arguments="{paginatedMails: pagination.items, selectedTemplate: selectedTemplateKey, selectedExtension: selectedExtensionKey, V11: V11}" />
					</table>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:render partial="Queue/Empty"/>
		</f:else>
	</f:if>
</f:section>

<f:section name="innerTable">
	<thead>
	<tr>
		<th></th>
		<th>
			<f:translate key="backend.from"/>
			<br>
			<f:translate key="backend.to"/>
		</th>
		<th>
			<f:translate key="backend.filter.extension"/>
			:
			<f:translate key="backend.filter.template"/>
			<br>
			<f:translate key="backend.subject"/>
		</th>
		<th>
			<f:translate key="backend.entry_date"/>
			<br>
			<f:translate key="backend.last_sent"/>
		</th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<tbody>

	<f:for each="{paginatedMails}" as="mail">
		<tr data-uid="{mail.uid}">
			<td nowrap="nowrap" class="col-icon">
				<core:iconForRecord table="tx_sgmail_domain_model_mail" row="{uid: mail.uid}"/>
			</td>
			<td>
				<span>{mail.from_address}</span>
				<hr>
				<span>{mail.to_address}</span>
			</td>
			<td>
				<span>{mail.extension_key}: {mail.template_name}</span>
				<hr>
				<f:if condition="{mail.mail_subject}">
					<f:then>
						<span><f:format.crop maxCharacters="40" append="...">{mail.mail_subject}</f:format.crop></span>
					</f:then>
					<f:else>
						&nbsp;
					</f:else>
				</f:if>

			</td>
			<td>
				<span><f:format.date format="d.m.Y H:i">{mail.crdate}</f:format.date></span>
				<hr>
				<f:if condition="{mail.last_sending_time} != 0">
					<f:then>
						<span><f:format.date format="d.m.Y H:i">{mail.last_sending_time}</f:format.date></span>
					</f:then>
					<f:else>
						<f:translate key="backend.not_sent"/> ({mail.status})
					</f:else>
				</f:if>
			</td>
			<td nowrap="nowrap" class="col-control">
				<f:format.raw><sgm:backend.control table="tx_sgmail_domain_model_mail" row="{mail}"/></f:format.raw>
			</td>
			<td>
				<f:if condition="{mail.blacklisted}">
					<f:then>
						<b>
							<f:translate key="backend.queue.blacklisted"/>
						</b>
					</f:then>
					<f:else>
						<f:link.action class="btn btn-default btn-send-now"
									   controller="Queue"
									   action="sendMail"
									   arguments="{mail: mail.uid, selectedTemplate: selectedTemplateKey, selectedExtension: selectedExtensionKey}">
							<core:icon identifier="actions-document-import-t3d"/>
							<f:translate key="backend.send_now"/>
						</f:link.action>
					</f:else>
				</f:if>
				<f:if condition="{V11}">
					<f:then>
						<button class="btn btn-default btn-preview"
								data-href="{f:uri.action( controller: 'Queue', action: 'preview', arguments: {mail: mail.uid})}"
						>
							<core:icon identifier="actions-view-page"/>
						</button>
					</f:then>
					<f:else>
						<button class="btn btn-default btn-preview"
								onClick="MailPreviewWindow{mail.uid}=window.open('{f:uri.action( controller: 'Queue', action: 'preview', arguments: {mail: mail.uid})}','MailPreviewWindow{mail.uid}','width=1200,height=768'); return false;">
							<core:icon identifier="actions-view-page"/>
						</button>
					</f:else>
				</f:if>
			</td>
		</tr>
		<f:if condition="{mail.error_message}">
			<tr>
				<td style="border-top: none;">&nbsp;</td>
				<td colspan="5" style="border-top: none;">
					<strong>{mail.error_message}</strong>
				</td>
			</tr>
		</f:if>
	</f:for>
	</tbody>
</f:section>
