<f:layout name="Preview"/>

<f:section name="mailPreview">
	<f:if condition="{mail} && !{mail.blacklisted}">
		<f:then>
			<div class="mail-header">
				<table>
					<tr>
						<th>
							<f:translate key="backend.preview.date"/>
						</th>
						<td>
							<f:format.date format="d.m.Y H:i">
								<f:format.stripTags>{mail.sendingTime}</f:format.stripTags>
							</f:format.date>
						</td>
					</tr>

					<tr>
						<th>
							<f:translate key="backend.preview.from"/>
						</th>
						<td>
							<f:format.stripTags>{mail.fromName}</f:format.stripTags>
							&lt;<f:format.stripTags>{mail.fromAddress}</f:format.stripTags>&gt;
						</td>
					</tr>

					<tr>
						<th>
							<f:translate key="backend.preview.subject"/>
						</th>
						<td>
							<strong>
								<f:format.stripTags>{mail.mailSubject}</f:format.stripTags>
							</strong>
						</td>
					</tr>

					<tr>
						<th>
							<f:translate key="backend.preview.to"/>
						</th>
						<td class="ng-binding">
							<f:format.stripTags>{mail.toAddress}</f:format.stripTags>
						</td>
					</tr>

					<f:if condition="{mail.ccAddresses}">
						<tr>
							<th>
								<f:translate key="backend.preview.cc"/>
							</th>
							<td class="ng-binding">
								<f:format.stripTags>{mail.ccAddresses}</f:format.stripTags>
							</td>
						</tr>
					</f:if>

					<f:if condition="{mail.bccAddresses}">
						<tr>
							<th>
								<f:translate key="backend.preview.bcc"/>
							</th>
							<td class="ng-binding">
								<f:format.stripTags>{mail.bccAddresses}</f:format.stripTags>
							</td>
						</tr>
					</f:if>
				</table>
			</div>

			<div class="mail-body">
				<iframe class="mail-body-iframe" srcdoc="{mail.mailBody}" sandbox></iframe>
			</div>
		</f:then>
		<f:else>
			<f:translate key="backend.preview.error" />
		</f:else>
	</f:if>
</f:section>
