.module-docheader-bar-column-right {
	/*margin: 12px;*/
}

.btn-save-backend {
	margin-top: 10px;
}

.btn-sm {
	margin-left: 5px;
}

.editor-description {
	padding: 10px;
}

.email-input {
	padding: 5px 6px;
	vertical-align: top;
	width: 300px;
}

.f3-widget-paginator {
	display: inline-block;
	border-radius: 4px;
	margin: 20px 0;
	padding-left: 0;
	background-color: red;
}

.f3-widget-paginator > li {
	display: inline;
}

.f3-widget-paginator > li > a,
.f3-widget-paginator > li.current {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	text-decoration: none;
	border: 1px solid #DDD;
	background-color: #FFF;
	color: #FF8700;
}

.f3-widget-paginator > li.current,
.f3-widget-paginator > li > a:hover,
.f3-widget-paginator > li > a:focus {
	text-decoration: underline;
	background-color: #EEE;
}

.f3-widget-paginator > li:first-child > a,
.f3-widget-paginator > li.current:first-child {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.f3-widget-paginator > li:last-child > a,
.f3-widget-paginator > li.current:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.template-col:nth-of-type(even) {
	/*background-color: #DCDCDC;*/
	/*background-clip: content-box;*/
}

.template-col:nth-of-type(odd) {
	/*background-color: #AAA;*/
	/*background-clip: content-box;*/
}

.recordlist hr {
	margin: 5px 0;
	border-top: 1px solid #EAEAEA;
}

.recordlist-mail-unsent {
	background-color: #CCC !important;
}

.filter-btn {
	width: auto;
	min-width: 100px;
	margin-right: 10px;
}

.language-selector {
	display: inline-block;
	margin-left: 9px;
}

.markers-card {
	border: none;
	margin-bottom: 0;
	box-shadow: none;
}

a.accordion-header-toggle .fa-caret-down {
	display: none;
}

a.accordion-header-toggle.collapsed .fa-caret-down {
	display: inline-block;
}

a.accordion-header-toggle.collapsed .fa-caret-up {
	display: none;
}

.form-actions {
	margin-bottom: 5px;
	clear: both;
}

.btn-info {
	color: white;
}
