* {
	font-family: Sans-Serif;
}

body {
	margin: 0;
}

.mail-header {
	border-bottom: 1px solid #666;
	padding: 5px 7px;
}

.mail-header tbody td {
	width: 100%;
	font-size: 15px;
}

.mail-header tbody th {
	white-space: nowrap;
	text-align: right;
	color: #666;
	font-weight: normal;
	font-size: 15px;
}

.mail-header table td,
.mail-header table th {
	padding: 2px 7px;
}

.mail-body {
	padding: 10px;
}

.mail-body-iframe{
	border: none;
	width: 100%;
	max-width: 1280px;
	height:100vh;
}
