{namespace sgm=SGalinski\SgMail\ViewHelpers}
<f:layout name="NoMenu" />

<f:section name="iconButtons">
</f:section>

<f:section name="content">
	<f:flashMessages />
	<br>

	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="panel panel-info">
				<div class="panel-heading">
					<f:translate key="backend.create.info_header" />
				</div>
				<div class="panel-body">
					<f:format.html><f:translate key="backend.create.info" /></f:format.html>
				</div>
			</div>
		</div>
	</div>

	<f:form action="{f:if(condition: '{editMode}', then: 'edit', else: 'create')}"
			controller="Configuration"
			method="post"
			objectName="configuration"
			object="{configuration}">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<f:form.hidden name="extensionKey" value="{selectedExtensionKey}"/>
				<f:form.hidden name="oldTemplateName" property="oldTemplateName" value="{templateName}"/>
				<f:form.hidden name="oldExtensionKey" property="oldExtensionKey" value="{selectedExtensionKey}"/>
				<div class="form-group">
					<label for="extensionKey"><f:translate key="backend.create.extensionKey" /></label>
					<f:form.textfield class="form-control"
									  property="extensionKey"
									  id="extensionKey"
									  required="TRUE"
									  value="{extensionKey}" />
				</div>
				<div class="form-group">
					<label for="templateName"><f:translate key="backend.create.templateName" /></label>
					<f:form.textfield class="form-control"
									  property="templateName"
									  id="templateName"
									  required="TRUE"
									  value="{templateName}" />
				</div>
				<div class="form-group">
					<label for="csv"><f:translate key="backend.create.csv" /></label>
					<f:form.textarea rows="5"
									 class="form-control"
									 property="csv"
									 id="csv"
									 value="{csv}" />
				</div>
				<div class="form-group">
					<label for="subject"><f:translate key="backend.create.subject" /></label>
					<f:form.textfield class="form-control"
									  property="subject"
									  id="subject"
									  value="{subject}" />
				</div>
				<div class="form-group">
					<label for="description"><f:translate key="backend.create.description" /></label>
					<f:form.textarea rows="5"
									 class="form-control"
									 property="description"
									 id="description"
									 value="{description}" />
				</div>
				<f:form.submit class="btn-primary btn form-group col-xs-12 col-md-2 col-md-offset-10"
							   value="{f:translate(key:'backend.create.save')}" />
			</div>
		</div>
	</f:form>
</f:section>
