<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:mail="http://typo3.org/ns/SGalinski/SgMail/ViewHelpers"
	data-namespace-typo3-fluid="true">
	<f:section name="main">
		<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
			<f:render
				partial="Module/DocHeader"
				section="actionMenu"
				arguments="{pages: pages, selectedTemplate: selectedTemplateKey, selectedExtension: selectedExtensionKey}" />
			<f:render
				partial="Module/DocHeader"
				section="path"
				arguments="{docHeader: docHeader}" />
		</div>
	</f:section>

	<f:section name="path">
		<div class="module-docheader-bar-column-right">
			<span class="typo3-docheader-pagePath">
				<f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.path" />: <f:format.raw>{docHeader.metaInformation.path}</f:format.raw>
			</span>
			<f:format.raw>{docHeader.metaInformation.recordInformation}</f:format.raw>
		</div>
	</f:section>

	<f:section name="actionMenu">
		<div class="module-docheader-bar-column-left">
			<f:be.menus.actionMenu>
				<f:render
					partial="Module/DocHeader"
					section="actionMenuItem"
					arguments="{controller:'Mail', action: 'index', label: '{f:translate(key:\'backend.template_editor\')}', selectedTemplate: selectedTemplateKey, selectedExtension: selectedExtensionKey, simpleActionItem: 1, selectedLanguage: selectedLanguage}" />
				<f:render
					partial="Module/DocHeader"
					section="actionMenuItem"
					arguments="{controller:'Queue', action: 'index', label: '{f:translate(key:\'backend.mail_queue\')}', selectedTemplate: selectedTemplateKey, selectedExtension: selectedExtensionKey, simpleActionItem: 1, selectedLanguage: selectedLanguage}" />
				<f:render
					partial="Module/DocHeader"
					section="actionMenuItem"
					arguments="{controller:'Layout', action: 'index', label: '{f:translate(key:\'backend.layouts\')}', selectedTemplate: selectedTemplateKey, selectedExtension: selectedExtensionKey, simpleActionItem: 1, selectedLanguage: selectedLanguage}" />
				<f:render
					partial="Module/DocHeader"
					section="actionMenuItem"
					arguments="{controller:'Newsletter', action: 'index', label: '{f:translate(key:\'backend.newsletter\')}', selectedTemplate: selectedTemplateKey, selectedExtension: selectedExtensionKey, simpleActionItem: 1, selectedLanguage: selectedLanguage}" />
			</f:be.menus.actionMenu>
		</div>
	</f:section>

	<f:section name="actionMenuItem">
		<mail:be.menus.actionMenuItem
			controller="{controller}"
			action="{action}"
			arguments="{parameters: {selectedTemplate: selectedTemplateKey, selectedExtension: selectedExtensionKey, selectedLanguage: selectedLanguage}}"
			simpleActionItem="{simpleActionItem}"
			selected="{selected}"
			label="{label}"
			section="actionMenu"
		/>
	</f:section>
</html>
